<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<header>
		<div class="row">
            <table style="width: 100%;">
                <tr>
                    <td rowspan="2" style="text-align: center;"><img src="../../images/logo-main100x100.png" alt=""></td>
                    <td style="text-align: center;"><h1>NOMBRE EMPRESA</h1></td>
                </tr>
                <tr>
                  <td style="text-align: center;"><h4>DESCRIPCION DEL NEGOCIO</h4></td>
              </tr>
            </table>
        </div>
        <div class="row">
            <h4 style="text-align: center;">Eslogan del negocio</h4>
        </div>
        <div class="row">
            <h3 style="text-align: center;">RAZ&oacute;N SOCIAL DEL NEGOCIO</h3>
        </div>
        <div class="row">
            <h3 style="text-align: center;">RUC 10450350465</h3>
        </div>
        <div class="row">
            <h3 style="text-align: center;">Direcci&oacute;n fiscal</h3>
        </div>
        <div class="row">
            <h4 style="text-align: center;">Telefonos</h4>
        </div>
        <div class="row">
            <h3 style="text-align: center;">BOLETA ELECTRONICA</h3>
        </div>
        <p>
        	<h4>CENTRO 1</h4>
        	<strong>Direccion CENTRO</strong>
        </p>
        <p>
        	FECHA DE EMISION: <span id="lblFechaHora_print"></span>
        	CORRELATIVO: <span id="lblCorrelativo_print"></span>
        	CAJA/TURNO: <span id="lblCajaTurno_print"></span>
        	TIPO DE MONEDA: <span id="lblMoneda_print"></span>
        </p>
	</header>
</body>
</html>