ul {
  padding: 0; }
  ul li {
    list-style-type: none; }
    
.flush-list {
padding: 0;
margin: 0;
list-style: none inside none;
}
.shadow {
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}
.before-shadow:before {
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}
.after-shadow:after {
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}
.block-shadow {
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.block-shadow-success {
box-shadow: 0 0 25px 0 rgba(0, 128, 0, 0.7);
}
.block-shadow-error {
box-shadow: 0 0 25px 0 rgba(128, 0, 0, 0.7);
}
.block-shadow-danger {
box-shadow: 0 0 25px 0 rgba(128, 0, 0, 0.7);
}
.block-shadow-warning {
box-shadow: 0 0 25px 0 rgba(255, 165, 0, 0.7);
}
.block-shadow-info {
box-shadow: 0 0 25px 0 rgba(89, 205, 226, 0.7);
}
.block-shadow-impact {
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.bottom-shadow {
box-shadow: -1px 6px 6px -6px rgba(0, 0, 0, 0.35);
}
.text-shadow {
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.before-text-shadow:before {
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.after-text-shadow:after {
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.no-shadow {
box-shadow: none !important;
}
.full-size {
width: 100% !important;
}
.block {
display: block !important;
}
.inline-block {
display: inline-block !important;
}
.no-display {
display: none !important;
}
.no-margin {
margin: 0 !important;
}
.no-margin-right {
margin-right: 0 !important;
}
.no-margin-left {
margin-left: 0 !important;
}
.no-margin-top {
margin-top: 0 !important;
}
.no-margin-bottom {
margin-bottom: 0 !important;
}
.no-padding {
padding: 0 !important;
}
.no-padding-left {
padding-left: 0 !important;
}
.no-padding-right {
padding-right: 0 !important;
}
.no-padding-top {
padding-top: 0 !important;
}
.no-padding-bottom {
padding-bottom: 0 !important;
}
.no-float {
float: none !important;
}
.no-visible {
visibility: hidden !important;
}
.no-border {
border: 0 !important;
}
.no-overflow {
overflow: hidden !important;
}
.no-scroll {
overflow: hidden !important;
}
.no-scroll-x {
overflow-x: hidden !important;
}
.no-scroll-y {
overflow-y: hidden !important;
}
.no-wrap {
white-space: nowrap !important;
}
.no-border-left {
border-left: none !important;
}
.no-border-right {
border-right: none !important;
}
.no-border-top {
border-top: none !important;
}
.no-border-bottom {
border-bottom: none !important;
}
.transparent-border {
border-color: transparent !important;
}
.clear-float:before,
.clear-float:after {
display: table;
content: "";
}
.clear-float:after {
clear: both;
}
.clearfix:before,
.clearfix:after {
display: table;
content: "";
}
.clearfix:after {
clear: both;
}
.no-user-select {
-webkit-user-select: none;
    -ms-user-select: none;
        user-select: none;
}
.no-appearance {
-webkit-appearance: none;
appearance: none;
}
.debug {
border: 1px dashed red;
}
.padding10 {
padding: 0.625rem;
}
.padding-top10  {
padding-top: 0.625rem !important;
}
.padding-right10  {
padding-right: 0.625rem;
}
.padding-bottom10  {
padding-bottom: 0.625rem;
}
.padding-left10 {
padding-left: 0.625rem;
}
.padding20 {
padding: 1.25rem;
}
.padding-top20 {
padding-top: 1.25rem !important;
}
.padding-right20  {
padding-right: 1.25rem;
}
.padding-bottom20  {
padding-bottom: 1.25rem;
}
.padding-left20  {
padding-left: 1.25rem;
}
.padding30 {
padding: 1.875rem;
}
.padding-right30 {
padding-right: 1.875rem;
}
.padding-bottom30 {
padding-bottom: 1.875rem;
}
.padding40 {
padding: 2.5rem;
}
.padding-top40 {
padding-top: 2.5rem;
}
.padding-left40 {
padding-left: 2.5rem;
}
.padding-right40 {
padding-right: 2.5rem;
}
.padding-bottom40 {
padding-bottom: 2.5rem;
}
.padding50 {
padding: 3.125rem;
}
.padding-top50 {
padding-top: 3.125rem;
}
.padding-left50 {
padding-left: 3.125rem;
}
.padding-right50 {
padding-right: 3.125rem;
}
.padding-bottom50 {
padding-bottom: 3.125rem;
}
.padding60 {
padding: 3.75rem;
}
.padding-right60  {
padding-right: 3.75rem;
}
.padding-left60  {
padding-left: 3.75rem;
}
.padding70 {
padding: 4.375rem;
}
.padding-left70 {
padding-left: 4.375rem;
}
.padding-right70 {
padding-right: 4.375rem;
}
.padding-top70 {
padding-top: 4.375rem; 
}
.padding-bottom70 {
padding-bottom: 4.375rem; 
}
.padding80 {
padding: 5rem;
}
.padding-left80 {
padding-left: 5rem;
}
.padding-right80 {
padding-right: 5rem;
}
.padding90 {
padding: 5.625rem;
}
.padding100 {
padding: 6.25rem;
}
.padding-left100 {
padding-left: 6.25rem;
}
.padding-right100 {
padding-right: 6.25rem;
}
.padding5 {
padding: 5px !important;
}
.padding-top5 {
padding-top: 5px;
}
.padding-left5 {
padding-left: 5px;
}
.padding-right5 {
padding-right: 5px;
}
.padding-bottom5 {
padding-bottom: 5px;
}
.width70 {
width: 4.375rem;
}
.margin5 {
margin: 5px;
}
.margin-top5 {
margin-top: 5px;
}
.margin-bottom5 {
margin-bottom: 5px;
}
.margin10 {
margin: 0.625rem;
}
.margin-top10 {
margin-top: 0.625rem;
}
.margin-left10 {
margin-left: 0.625rem;
}
.margin-right10 {
margin-right: 0.625rem;
}
.margin-bottom10 {
margin-bottom: 0.625rem;
}
.margin20 {
margin: 1.25rem;
}
.margin-right20 {
margin-right: 1.25rem;
}
.margin-bottom20 {
margin-bottom: 1.25rem;
}
.margin30 {
margin: 1.875rem;
}
.margin-bottom30 {
margin-bottom: 1.875rem;
}
.margin-right30 {
margin-right: 1.875rem;
}
.margin40 {
margin: 2.5rem;
}
.margin-bottom40 {
margin-bottom: 2.5rem;
}
.margin-right40 {
margin-right: 2.5rem;
}
.margin50 {
margin: 3.125rem;
}
.margin-bottom50 {
margin-bottom: 3.125rem;
}
.margin-right50 {
margin-right: 3.125rem;
}
.margin60 {
margin: 3.75rem;
}
.margin-bottom60 {
margin-bottom: 3.75rem;
}
.margin70 {
margin: 4.375rem;
}
.margin80 {
margin: 5rem;
}
.margin90 {
margin: 5.625rem;
}
.margin100 {
margin: 6.25rem;
}
.opacity {
opacity: .9;
}
.half-opacity {
opacity: .5;
}
.hi-opacity {
opacity: .2;
}
h1 {
font-size: 2.25rem;
font-weight: 400;
}
h2 {
font-size: 1.875rem;
font-weight: 500;
}
h3 {
font-size: 1.5rem;
font-weight: 500;
}
h4 {
font-size: 1.125rem;
font-weight: 500;
}
h5 {
font-size: 0.875rem;
font-weight: 500;
}
h6 {
font-size: 0.75rem;
font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
margin: .625rem 0;
line-height: 1.1;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small {
font-weight: 400;
font-size: .7em;
line-height: 1;
color: #777;
}
.text-light {
font-weight: 300;
font-style: normal;
}
.text-normal {
font-weight: 400;
font-style: normal;
}
.text-bold {
font-style: normal;
font-weight: 700;
}
.text-italic {
font-style: italic;
}
.uppercase {
text-transform: uppercase;
}
.lowercase {
text-transform: lowercase;
}
.capital {
text-transform: capitalize;
}
.align-left {
text-align: left !important;
}
.align-right {
text-align: right !important;
}
.align-center {
text-align: center !important;
}
.align-justify {
text-align: justify !important;
}
.v-align-top {
vertical-align: top;
}
.v-align-bottom {
vertical-align: bottom;
}
.v-align-baseline {
vertical-align: baseline;
}
.v-align-middle {
vertical-align: middle;
}
.v-align-sub {
vertical-align: sub;
}
.v-align-super {
vertical-align: super;
}
.v-align-top-text {
vertical-align: text-top;
}
.v-align-bottom-text {
vertical-align: text-bottom;
}
.text-dashed {
border: 0;
border-bottom: 1px gray dashed;
display: inline;
}
.indent-paragraph:first-letter {
margin-left: 2.5rem;
}
.text-secondary {
font-size: 0.75rem;
}
.text-accent,
.text-enlarged {
font-size: 1.1rem;
}
.text-default {
font-size: 0.875rem;
}
.text-small {
font-size: 0.625rem;
}
.text-light {
font-weight: 300;
}
.text-ellipsis {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}
.fixed-top,
.fixed-bottom {
position: fixed;
left: 0;
right: 0;
z-index: 1030;
}
.fixed-top {
top: 0;
bottom: auto;
}
.fixed-bottom {
top: auto;
bottom: 0;
}
.pos-abs {
position: absolute !important;
}
.pos-rel {
position: relative !important;
}
.pos-fix {
position: fixed !important;
}
.pointer {
cursor: pointer;
}
.animate {
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
}
.rounded {
border-radius: .325rem;
}
.place-top {
position: absolute;
top: 0;
}
.place-top-left {
position: absolute;
top: 0;
left: 0;
}
.place-top-right {
position: absolute;
top: 0;
right: 0;
}
.place-left {
position: absolute;
left: 0;
}
.place-right {
position: absolute;
right: 0;
}
.place-bottom {
position: absolute;
bottom: 0;
}
.place-bottom-left-right {
position: absolute;
bottom: 0;
left: 0;
right: 0;
}
.place-top-bottom-left {
position: absolute;
top: 0;
bottom: 0;
left: 0;
}
.place-top-bottom-right {
position: absolute;
top: 0;
bottom: 0;
right: 0;
}
.place-bottom-left {
position: absolute;
bottom: 0;
left: 0;
}
.place-bottom-right {
position: absolute;
bottom: 0;
right: 0;
}
.clear {
clear: both;
}
.centered {
position: absolute !important;
top: 0 !important;
left: 0 !important;
right: 0 !important;
bottom: 0 !important;
margin: auto !important;
}
.height-centered {
position: absolute;
margin: auto 10px;
top: 0;
bottom: 0;
}
.bg-opacity-1 {
background-color: rgba(0,0,0,0.1) !important;
}
.bg-opacity-2 {
background-color: rgba(0,0,0,0.2) !important;
}
.bg-opacity-3 {
background-color: rgba(0,0,0,0.3) !important;
}
.bg-opacity-4 {
background-color: rgba(0,0,0,0.4) !important;
}
.bg-opacity-5 {
background-color: rgba(0,0,0,0.5) !important;
}
.bg-opacity-6 {
background-color: rgba(0,0,0,0.6) !important;
}
.bg-opacity-7 {
background-color: rgba(0,0,0,0.7) !important;
}
.bg-opacity-8 {
background-color: rgba(0,0,0,0.8) !important;
}
.width-auto {
width: auto !important;
}
.height-auto {
height: auto !important;
}
.all-height {
height: 100% !important;
}
.left {
float: left !important; }
.right {
float: right !important; }
.divider {
height: 1px;
overflow: hidden;
background-color: #e0e0e0; }
.hide {
display: none !important; }
.overflow-auto {
overflow: auto !important; }
a {
  background-color: transparent;
  text-decoration: none !important; }
a:active, a:hover 
{
  outline: 0; }
a {
  text-decoration: none !important;
  -webkit-tap-highlight-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
td, th {
  padding: 0; }
table, th, td {
  border: none; }

table {
  width: 100%;
  display: table; }
  table.bordered > thead > tr, table.bordered > tbody > tr {
    border-bottom: 1px solid #d0d0d0; }
  table.striped > tbody > tr:nth-child(odd) {
    background-color: #f2f2f2; }
  table.striped > tbody > tr > td {
    border-radius: 0px; }
  table.highlight > tbody > tr {
    -webkit-transition: background-color .25s ease;
    -moz-transition: background-color .25s ease;
    -o-transition: background-color .25s ease;
    -ms-transition: background-color .25s ease;
    transition: background-color .25s ease; }
    table.highlight > tbody > tr:hover {
      background-color: #f2f2f2; }
  table.centered thead tr th, table.centered tbody tr td {
    text-align: center; }

thead {
  border-bottom: 1px solid #d0d0d0; }

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  /*border-radius: 2px;*/ }

@media only screen and (max-width : 600px) {
  .hide-on-small-only, .hide-on-small-and-down {
    display: none !important; } }

@media only screen and (max-width : 992px) {
  .hide-on-med-and-down {
    display: none !important; } }

@media only screen and (min-width : 601px) {
  .hide-on-med-and-up {
    display: none !important; } }

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hide-on-med-only {
    display: none !important; } }

@media only screen and (min-width : 993px) {
  .hide-on-large-only {
    display: none !important; } }

@media only screen and (min-width : 993px) {
  .show-on-large {
    display: initial !important; } }

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .show-on-medium {
    display: initial !important; } }

@media only screen and (max-width : 600px) {
  .show-on-small {
    display: initial !important; } }

@media only screen and (min-width : 601px) {
  .show-on-medium-and-up {
    display: initial !important; } }

@media only screen and (max-width : 992px) {
  .show-on-medium-and-down {
    display: initial !important; } }

@media only screen and (max-width : 600px) {
  .center-on-small-only {
    text-align: center; } }

.center-block {
  display: block;
  margin-right: auto !important;
  margin-left: auto !important;
}