.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: .3125rem 0;
  position: relative;
  vertical-align: middle;
  height: auto;
}
.select2-container .select2-selection--single {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 2.125rem;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  /*padding-left: 8px;*/
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select2-container .select2-selection--multiple {
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  min-height: 2.125rem;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 998;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display: inline-block;
  overflow: hidden;
  padding-left: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.select2-container .select2-container .select2-search--inline {
  float: left;
}
.select2-container .select2-container .select2-search--inline .select2-search__field {
  box-sizing: border-box;
  border: none;
  font-size: 100%;
  margin-top: 5px;
}
.select2-container .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.select2-dropdown {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 0;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
.select2-results {
  display: block;
}
.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}
.select2-results__option {
  padding: 6px;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.select2-results__option[aria-selected] {
  cursor: pointer;
}
.select2-container--open .select2-dropdown {
  left: 0;
}
.select2-search--dropdown {
  display: block;
  /*padding: 4px;*/
}
.select2-search--dropdown .select2-search__field {
  padding: 4px;
  width: 100%;
  margin: 0 !important;
  box-sizing: border-box;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.select2-search--dropdown.select2-search--hide {
  display: none;
}
.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 2;
  background-color: #fff;
  filter: alpha(opacity=0);
}
.select2-container--default .select2-selection--single {
  background-color: #fff;
  /*border-bottom: 1px solid #aaa;*/
  border-bottom: 1px solid #9e9e9e
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 28px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #999;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0 4px;
  height: 0;
  left: 50%;
  margin-left: -4px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
  width: 0;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display: none;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px;
}
.select2-container--default .select2-selection--multiple {
  background-color: white;
  /*border-bottom: 1px solid #aaa;*/
  cursor: text;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  width: 100%;
}
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color: #999;
  margin-top: 5px;
  float: left;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor: pointer;
  float: right;
  font-weight: bold;
  margin-top: 5px;
  margin-right: 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #eeeeee;
  border: 1px solid #999999;
  color: #1d1d1d;
  font-size: .875rem;
  cursor: default;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 5px;
  vertical-align: middle;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #999;
  cursor: pointer;
  display: inline-block;
  margin-right: 2px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #333;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  /*border: solid black 1px;*/
  outline: 1px #4285F4 solid;
}
.select2-container--default.select2-container--focus .select2-selection--single {
  /*border-bottom: solid black 1px;*/
  outline: 0;
}
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default;
}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none;
}
/*.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa;
}*/
.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}
.select2-container--default .select2-results__option[role=group] {
  padding: 0;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd;
}
.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left: 0;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -1em;
  padding-left: 2em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -2em;
  padding-left: 3em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -3em;
  padding-left: 4em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -4em;
  padding-left: 5em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left: -5em;
  padding-left: 6em;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white;
}
.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px;
}
.select2-container input {
  outline: none;
}
.select2-container .select2-search.select2-search--inline input {
  margin-top: 7px;
  margin-bottom: 0 !important;
  height: auto !important;
  border: none !important;
  padding: 0;
}
.input-control .select2-container {
  margin: 0;
}
.input-control.required .select2-selection {
  border: 1px dashed #1ba1e2;
}
.input-control.error .select2-selection {
  border: 1px solid #ce352c;
}
.input-control.warning .select2-selection {
  border: 1px solid #e3c800;
}
.input-control.success .select2-selection {
  border: 1px solid #60a917;
}
.input-control.info .select2-selection {
  border: 1px solid #1ba1e2;
}
.flex-grid {
  display: block;
  width: 100%;
}
.flex-grid .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.flex-grid .row .cell {
  -webkit-box-flex: 0 0 8.33333333%;
  -webkit-flex: 0 0 8.33333333%;
  flex: 0 0 8.33333333%;
}
.flex-grid .row.cell-auto-size .cell {
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}
.flex-grid .row .cell.colspan2 {
  -webkit-box-flex: 0 0 16.66666666%;
  -webkit-flex: 0 0 16.66666666%;
  flex: 0 0 16.66666666%;
}
.flex-grid .row .cell.colspan3 {
  -webkit-box-flex: 0 0 24.99999999%;
  -webkit-flex: 0 0 24.99999999%;
  flex: 0 0 24.99999999%;
}
.flex-grid .row .cell.colspan4 {
  -webkit-box-flex: 0 0 33.33333332%;
  -webkit-flex: 0 0 33.33333332%;
  flex: 0 0 33.33333332%;
}
.flex-grid .row .cell.colspan5 {
  -webkit-box-flex: 0 0 41.66666665%;
  -webkit-flex: 0 0 41.66666665%;
  flex: 0 0 41.66666665%;
}
.flex-grid .row .cell.colspan6 {
  -webkit-box-flex: 0 0 49.99999998%;
  -webkit-flex: 0 0 49.99999998%;
  flex: 0 0 49.99999998%;
}
.flex-grid .row .cell.colspan7 {
  -webkit-box-flex: 0 0 58.33333331%;
  -webkit-flex: 0 0 58.33333331%;
  flex: 0 0 58.33333331%;
}
.flex-grid .row .cell.colspan8 {
  -webkit-box-flex: 0 0 66.66666664%;
  -webkit-flex: 0 0 66.66666664%;
  flex: 0 0 66.66666664%;
}
.flex-grid .row .cell.colspan9 {
  -webkit-box-flex: 0 0 74.99999997%;
  -webkit-flex: 0 0 74.99999997%;
  flex: 0 0 74.99999997%;
}
.flex-grid .row .cell.colspan10 {
  -webkit-box-flex: 0 0 83.3333333%;
  -webkit-flex: 0 0 83.3333333%;
  flex: 0 0 83.3333333%;
}
.flex-grid .row .cell.colspan11 {
  -webkit-box-flex: 0 0 91.66666663%;
  -webkit-flex: 0 0 91.66666663%;
  flex: 0 0 91.66666663%;
}
.flex-grid .row .cell.colspan12 {
  -webkit-box-flex: 0 0 99.99999996%;
  -webkit-flex: 0 0 99.99999996%;
  flex: 0 0 99.99999996%;
}
.flex-grid .row .cell.size1 {
  -webkit-box-flex: 0 0 8.33333333%;
  -webkit-flex: 0 0 8.33333333%;
  flex: 0 0 8.33333333%;
}
.flex-grid .row .cell.size2 {
  -webkit-box-flex: 0 0 16.66666666%;
  -webkit-flex: 0 0 16.66666666%;
  flex: 0 0 16.66666666%;
}
.flex-grid .row .cell.size3 {
  -webkit-box-flex: 0 0 24.99999999%;
  -webkit-flex: 0 0 24.99999999%;
  flex: 0 0 24.99999999%;
}
.flex-grid .row .cell.size4 {
  -webkit-box-flex: 0 0 33.33333332%;
  -webkit-flex: 0 0 33.33333332%;
  flex: 0 0 33.33333332%;
}
.flex-grid .row .cell.size5 {
  -webkit-box-flex: 0 0 41.66666665%;
  -webkit-flex: 0 0 41.66666665%;
  flex: 0 0 41.66666665%;
}
.flex-grid .row .cell.size6 {
  -webkit-box-flex: 0 0 49.99999998%;
  -webkit-flex: 0 0 49.99999998%;
  flex: 0 0 49.99999998%;
}
.flex-grid .row .cell.size7 {
  -webkit-box-flex: 0 0 58.33333331%;
  -webkit-flex: 0 0 58.33333331%;
  flex: 0 0 58.33333331%;
}
.flex-grid .row .cell.size8 {
  -webkit-box-flex: 0 0 66.66666664%;
  -webkit-flex: 0 0 66.66666664%;
  flex: 0 0 66.66666664%;
}
.flex-grid .row .cell.size9 {
  -webkit-box-flex: 0 0 74.99999997%;
  -webkit-flex: 0 0 74.99999997%;
  flex: 0 0 74.99999997%;
}
.flex-grid .row .cell.size10 {
  -webkit-box-flex: 0 0 83.3333333%;
  -webkit-flex: 0 0 83.3333333%;
  flex: 0 0 83.3333333%;
}
.flex-grid .row .cell.size11 {
  -webkit-box-flex: 0 0 91.66666663%;
  -webkit-flex: 0 0 91.66666663%;
  flex: 0 0 91.66666663%;
}
.flex-grid .row .cell.size12 {
  -webkit-box-flex: 0 0 99.99999996%;
  -webkit-flex: 0 0 99.99999996%;
  flex: 0 0 99.99999996%;
}
.flex-grid .row .cell.size-p10 {
  -webkit-box-flex: 0 0 10%;
  -webkit-flex: 0 0 10%;
  flex: 0 0 10%;
}
.flex-grid .row .cell.size-p20 {
  -webkit-box-flex: 0 0 20%;
  -webkit-flex: 0 0 20%;
  flex: 0 0 20%;
}
.flex-grid .row .cell.size-p30 {
  -webkit-box-flex: 0 0 30%;
  -webkit-flex: 0 0 30%;
  flex: 0 0 30%;
}
.flex-grid .row .cell.size-p40 {
  -webkit-box-flex: 0 0 40%;
  -webkit-flex: 0 0 40%;
  flex: 0 0 40%;
}
.flex-grid .row .cell.size-p50 {
  -webkit-box-flex: 0 0 50%;
  -webkit-flex: 0 0 50%;
  flex: 0 0 50%;
}
.flex-grid .row .cell.size-p60 {
  -webkit-box-flex: 0 0 60%;
  -webkit-flex: 0 0 60%;
  flex: 0 0 60%;
}
.flex-grid .row .cell.size-p70 {
  -webkit-box-flex: 0 0 70%;
  -webkit-flex: 0 0 70%;
  flex: 0 0 70%;
}
.flex-grid .row .cell.size-p80 {
  -webkit-box-flex: 0 0 80%;
  -webkit-flex: 0 0 80%;
  flex: 0 0 80%;
}
.flex-grid .row .cell.size-p90 {
  -webkit-box-flex: 0 0 90%;
  -webkit-flex: 0 0 90%;
  flex: 0 0 90%;
}
.flex-grid .row .cell.size-p100 {
  -webkit-box-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
}
.flex-grid .row .cell.size-x100 {
  -webkit-box-flex: 0 0 100px;
  -webkit-flex: 0 0 100px;
  flex: 0 0 100px;
}
.flex-grid .row .cell.size-x200 {
  -webkit-box-flex: 0 0 200px;
  -webkit-flex: 0 0 200px;
  flex: 0 0 200px;
}
.flex-grid .row .cell.size-x300 {
  -webkit-box-flex: 0 0 300px;
  -webkit-flex: 0 0 300px;
  flex: 0 0 300px;
}
.flex-grid .row .cell.size-x400 {
  -webkit-box-flex: 0 0 400px;
  -webkit-flex: 0 0 400px;
  flex: 0 0 400px;
}
.flex-grid .row .cell.size-x500 {
  -webkit-box-flex: 0 0 500px;
  -webkit-flex: 0 0 500px;
  flex: 0 0 500px;
}
.flex-grid .row .cell.size-x600 {
  -webkit-box-flex: 0 0 600px;
  -webkit-flex: 0 0 600px;
  flex: 0 0 600px;
}
.flex-grid .row .cell.size-x700 {
  -webkit-box-flex: 0 0 700px;
  -webkit-flex: 0 0 700px;
  flex: 0 0 700px;
}
.flex-grid .row .cell.size-x800 {
  -webkit-box-flex: 0 0 800px;
  -webkit-flex: 0 0 800px;
  flex: 0 0 800px;
}
.flex-grid .row .cell.size-x900 {
  -webkit-box-flex: 0 0 900px;
  -webkit-flex: 0 0 900px;
  flex: 0 0 900px;
}
.flex-grid .row .cell.size-x1000 {
  -webkit-box-flex: 0 0 1000px;
  -webkit-flex: 0 0 1000px;
  flex: 0 0 1000px;
}
.flex-grid .row .cell.auto-size {
  -webkit-box-flex: 1 auto;
  -webkit-flex: 1 auto;
  flex: 1 auto;
}