@media screen and (min-width: 1401px) {
  html {
    font-size: 120%;
  }
}
@media screen and (max-width: 1400px) {
  html {
    font-size: 110%;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 90%;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 80%;
  }
}
@media screen and (max-width: 800px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: .625rem;
  }
}
@media only screen and (max-width: 800px) {
  .flex-grid .row {
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .flex-grid .row .cell,
  .flex-grid .row .cell[class*=size] {
    -webkit-flex: 0 0 50%;
    flex: 0 0 50%;
  }
  .flex-grid .row .cell:nth-child(1):last-child,
  .flex-grid .row .cell[class*=size]:nth-child(1):last-child,
  .flex-grid .row .cell:nth-child(3):last-child,
  .flex-grid .row .cell[class*=size]:nth-child(3):last-child,
  .flex-grid .row .cell:nth-child(5):last-child,
  .flex-grid .row .cell[class*=size]:nth-child(5):last-child,
  .flex-grid .row .cell:nth-child(7):last-child,
  .flex-grid .row .cell[class*=size]:nth-child(7):last-child,
  .flex-grid .row .cell:nth-child(9):last-child,
  .flex-grid .row .cell[class*=size]:nth-child(9):last-child,
  .flex-grid .row .cell:nth-child(11):last-child,
  .flex-grid .row .cell[class*=size]:nth-child(11):last-child {
    -webkit-flex-basis: 100%;
            flex-basis: 100%;
  }
}
@media only screen and (max-width: 640px) {
  .flex-grid .row {
    -webkit-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  .grid .row,
  .grid .row[class*=cells] {
    margin: 0;
  }
  .grid .row > .cell,
  .grid .row[class*=cells] > .cell,
  .grid .row > .cell[class*=colspan],
  .grid .row[class*=cells] > .cell[class*=colspan] {
    width: 48.936175% ;
    margin-bottom: 10px;
  }
  .grid .row > .cell:nth-child(odd),
  .grid .row[class*=cells] > .cell:nth-child(odd),
  .grid .row > .cell[class*=colspan]:nth-child(odd),
  .grid .row[class*=cells] > .cell[class*=colspan]:nth-child(odd) {
    margin-left: 0;
  }
  .grid .row > .cell:nth-child(1):last-child,
  .grid .row[class*=cells] > .cell:nth-child(1):last-child,
  .grid .row > .cell[class*=colspan]:nth-child(1):last-child,
  .grid .row[class*=cells] > .cell[class*=colspan]:nth-child(1):last-child,
  .grid .row > .cell:nth-child(3):last-child,
  .grid .row[class*=cells] > .cell:nth-child(3):last-child,
  .grid .row > .cell[class*=colspan]:nth-child(3):last-child,
  .grid .row[class*=cells] > .cell[class*=colspan]:nth-child(3):last-child,
  .grid .row > .cell:nth-child(5):last-child,
  .grid .row[class*=cells] > .cell:nth-child(5):last-child,
  .grid .row > .cell[class*=colspan]:nth-child(5):last-child,
  .grid .row[class*=cells] > .cell[class*=colspan]:nth-child(5):last-child,
  .grid .row > .cell:nth-child(7):last-child,
  .grid .row[class*=cells] > .cell:nth-child(7):last-child,
  .grid .row > .cell[class*=colspan]:nth-child(7):last-child,
  .grid .row[class*=cells] > .cell[class*=colspan]:nth-child(7):last-child,
  .grid .row > .cell:nth-child(9):last-child,
  .grid .row[class*=cells] > .cell:nth-child(9):last-child,
  .grid .row > .cell[class*=colspan]:nth-child(9):last-child,
  .grid .row[class*=cells] > .cell[class*=colspan]:nth-child(9):last-child,
  .grid .row > .cell:nth-child(11):last-child,
  .grid .row[class*=cells] > .cell:nth-child(11):last-child,
  .grid .row > .cell[class*=colspan]:nth-child(11):last-child,
  .grid .row[class*=cells] > .cell[class*=colspan]:nth-child(11):last-child {
    width: 100%;
  }
}
@media screen and (max-width: 640px) {
  .grid .row,
  .grid .row[class*=cells] {
    margin: 0;
  }
  .grid .row > .cell,
  .grid .row[class*=cells] > .cell,
  .grid .row > .cell[class*=colspan],
  .grid .row[class*=cells] > .cell[class*=colspan] {
    width: 100%;
    margin: .3125rem 0;
  }
}
@media screen and (max-width: 640px) {
  .no-phone {
    display: none !important;
  }
}
@media screen and (max-width: 800px) {
  .no-tablet {
    display: none !important;
  }
}
@media screen and (min-width: 900px) {
  .no-pc {
    display: none !important;
  }
}
