.height--1-1 {
    height: 100% !important
}

.flex {
    display: -ms-flexbox;
    display: flex
}

.flex--column {
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-justified--center {
    -ms-flex-pack: center;
    justify-content: center
}

.soft-quad {
    padding: 40px !important
}

.soft-quad--sides {
    padding-right: 40px !important;
    padding-left: 40px !important
}

.push-quad--top {
    margin-top: 40px !important
}

.push-half--bottom {
    margin-bottom: 5px !important
}

.push--ends {
    margin-top: 10px !important;
    margin-bottom: 10px !important
}

.soft-double--top {
    padding-top: 20px !important
}

.anchor--middle {
    margin-right: auto !important;
    margin-left: auto !important
}

.two-col__content,
.l-flex--col {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0
}

.root-panel,
.stage,
.stage__item,
.two-col,
.two-col__nav,
.two-col__content,
.stage-content--overflow,
.l-flexer {
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
    min-height: 0
}